@font-face {
  font-family: 'museosans';
  src: url("/typography/museosans_500-webfont.eot");
  src: url("/typography/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("/typography/museosans_500-webfont.woff") format("woff"), url("/typography/museosans_500-webfont.ttf") format("truetype"), url("/typography/museosans_500-webfont.svg#museo_sans500") format("svg"); }

@font-face {
  font-family: 'museo';
  src: url("/typography/museo300-regular-webfont.eot");
  src: url("/typography/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/typography/museo300-regular-webfont.woff") format("woff"), url("/typography/museo300-regular-webfont.ttf") format("truetype"), url("/typography/museo300-regular-webfont.svg#museo300") format("svg"); }

/* =Common Styles
-------------------------------------------------------------- */

body {
  font-family: 'museosans','sans-serif' !important;
  color: #2b2e37;
}

p {
  font-family: 'museosans', 'sans-serif' !important;
  line-height: 24px;
}

strong{
  font-family: 'museosans', 'sans-serif' !important;
}


section {
  padding-top: 15px;
  padding-bottom: 60px;
  min-height: 100px;
  background-color: #F2F2F2;
  position: relative;
  z-index: 10;
}

.title h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family: 'sans-serif';
}

.center {
  text-align: center;
}

/* =Background
-------------------------------------------------------------- */

#backgrounds {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Estimate 

--------------------------------------------------------------*/

#estimate .subtitle p{
  font-size: 16px;
  text-align: center;
  margin-left: 20%;
  width: 60%;
  line-height: 30px;
}

#entrada .subtitle p{
  width: 100%;
  font-size: 16px;
  text-align: center;
}


.estimate .strong{
  font-weight: bold
}

#entrada .subtitle p{
  margin: 0 0 10px;
  padding-bottom: 60px;
}

#header{
  padding-top: 2%; 
  padding-bottom: 2%;
  padding-left: 2%;
  min-height: 0%;
}

#footer p{
  text-align: center;
  font-size: 16px;
}


/* =Timeline
-------------------------------------------------------------- */

#history{
  background-color: #F2F2F2;
}




.timeline {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.timeline:before {
  content: " ";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 3px;
  background-color: #c0c0c0;
  left: 0;
  right: 0;
  margin: auto;
}

.timeline > li {
  position: relative;
  margin-bottom: 25px;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.month {
  width: 65px;
  height: 65px;
  margin: 30px auto;
  text-align: center;
  background-color: #fff;
  border: 2px solid #c0c0c0;
  border-radius: 50%;
  font-size: .9em;
  z-index: 100;
  position: relative;
  line-height: 60px;
}

.timeline-panel {
  width: 46%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  padding: 15px;
  transition: all .3s ease;
}

.timeline-panel:before {
  content: "";
  position: absolute;
  border-top: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  top: 20px;
  transition: all .3s ease;
}

.timeline-panel:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  top: 20px;
  border-radius: 50%;
  left: 50%;
  margin-left: -10px;
  border: 2px solid #c0c0c0;
  transition: all .3s ease;
}

.timeline-panel.left {
  text-align: left;
}

.timeline-panel.left:before {
  left: 0;
  margin-left: 46%;
  border-left: 15px solid #FFF;
}

.timeline-panel.right {
  float: right;
}

.timeline-panel.right:hover {
  margin-left: 0;
  margin-right: 1%;
}

.timeline-panel.right:hover:before {
  margin-right: 47%;
}

.timeline-panel.right:before {
  border-right: 15px solid #fff;
  right: 0;
  margin-right: 46%;
}

.timeline-panel:hover {
  cursor: default;
  margin-left: 1%;
}

.timeline-panel:hover:before {
  margin-left: 47%;
}

.timeline-panel:hover:after {
  border: 6px solid transparent;
}

.timeline-panel p {
  font-size: 14px;
  color: #2b2e37;
}

.date {
  display: block;
  font-family: 'Lato', 'sans-serif';
  font-size: 19px;
}

.timeline-panel:hover:after {
  border-color: #31BE6F;
}
